Error Handler.json
{
  "name": "Error Handler 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        16
      ],
      "id": "cde33674-4714-4103-a122-fbe4b8919bcc",
      "name": "Error Alert Workflow",
      "alwaysOutputData": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U09MNNU4W6T",
          "mode": "list",
          "cachedResultName": "peacejoadamu"
        },
        "text": "=🚨 *n8n Error Alert!*\n\n*Workflow:* {{$json.workflow?.name || \"N/A\"}}\n*Node:* {{$json.execution?.lastNodeExecuted || \"N/A\"}}\n*Error Message:* {{$json.execution?.error?.message || \"No message\"}}\n*Time:* {{$now}}\n\n🧩 *Stack Trace:*\n```{{$json.execution?.error?.stack || \"No stack trace provided.\"}}```\n\n🔗 *Execution ID:* {{$json.execution?.id || \"N/A\"}}\n📎 *Execution URL:* {{$json.execution?.url || \"Not available\"}}\n\n_— Automated alert from n8n 🤖_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -96,
        0
      ],
      "id": "2c953249-3e44-4ba3-b855-1f3fb526e18f",
      "name": "Send a message",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "webhookId": "1ba5b372-9a67-4bfb-99e9-074d9ec10b9c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "pKLkY3CXU3bzskTK",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "peacejoadamu@gmail.com",
        "subject": "Error Notification for Sales & Subscription Report",
        "message": "=<html><body style=\"font-family: Arial, sans-serif; color: #222; line-height:1.4;\"><h2 style=\"color:#d9534f;\">🚨 n8n Workflow Error Detected</h2><p><strong>Workflow:</strong> {{$json.workflow?.name || \"N/A\"}}</p><p><strong>Failed Node:</strong> {{$json.execution?.lastNodeExecuted || \"N/A\"}}</p><p><strong>Time:</strong> {{$now}}</p><p><strong>Error Message:</strong></p><div style=\"background:#f8f8f8;border-left:4px solid #d9534f;padding:10px;margin:6px 0 12px 0;\"><pre style=\"margin:0;white-space:pre-wrap;\">{{$json.execution?.error?.message || \"N/A\"}}</pre></div><h4>Context</h4><table cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;border:1px solid #e6e6e6;width:100%;max-width:800px;\"><tr style=\"background:#fafafa;\"><th align=\"left\" style=\"border-right:1px solid #eee;width:220px;\">Execution ID</th><td>{{$json.execution?.id || \"N/A\"}}</td></tr><tr><th align=\"left\" style=\"border-right:1px solid #eee;\">Execution URL</th><td>{{$json.execution?.url || \"N/A\"}}</td></tr><tr style=\"background:#fafafa;\"><th align=\"left\" style=\"border-right:1px solid #eee;\">Triggered By</th><td>{{$json.execution?.mode || \"N/A\"}}</td></tr></table><h4 style=\"margin-top:12px;\">Stack Trace / Debug Info</h4><div style=\"background:#111827;color:#e6e6e6;padding:10px;border-radius:4px;overflow:auto;max-height:240px;\"><pre style=\"margin:0;white-space:pre-wrap;\">{{$json.execution?.error?.stack || \"No stack trace provided.\"}}</pre></div><p style=\"margin-top:14px;color:#666;font-size:13px;\">This alert was auto-generated by n8n 🤖</p></body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -112,
        144
      ],
      "id": "76d2bb07-1cf2-45f6-98a5-1b5a74776c0b",
      "name": "Send a message2",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "webhookId": "e3ceaa48-ad8d-42c3-a24d-1a71a17da673",
      "credentials": {
        "gmailOAuth2": {
          "id": "e1rJQT5SmFFVBVFQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AhwqWp4QvYX26TD31PAUTq-F3tY1WbhDrd9725PSc0o",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AhwqWp4QvYX26TD31PAUTq-F3tY1WbhDrd9725PSc0o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AhwqWp4QvYX26TD31PAUTq-F3tY1WbhDrd9725PSc0o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{$now}}",
            "Workflow Name": "={{$json[\"workflow\"][\"name\"]}}",
            "Node Name": "={{$json[\"execution\"][\"lastNodeExecuted\"]}}",
            "Error Message": "={{$json[\"execution\"][\"error\"][\"message\"]}}",
            "Execution ID": "={{$json[\"execution\"][\"id\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node Name",
              "displayName": "Node Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        320
      ],
      "id": "cbf051be-05f3-44bb-889e-6a4f4d234bf4",
      "name": "Error Logs",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x6FCtUEIr892wknA",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Alert Workflow": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1e6ceca-bb93-4c93-9368-13768ee8e80f",
  "meta": {
    "instanceId": "0059407078dc2a6338402d801e04788738d90d57e89bb1e907baf4a8742da015"
  },
  "id": "zoOWmSC1FoXzAtF2",
  "tags": []
}